@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


.topnav {
    background-color: rgb(85, 58, 129);
    overflow: hidden;
  }
  
 
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(60, 81, 112);
  }
  
  
  .topnav a.active {
    background-color: #9dc5a3;
    color: white;
  }
  

  .topnav .icon {
    display: none;
  }
*{ 
    box-sizing: border-box;
}
body{
    font-family: 'Muli',sans-serif;
    display:flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content:center;
    height: 100vhs;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    border-radius: 30px ;
    color: #fff;
    cursor:pointer;
    flex: 0.5;
    margin: 10pt;
    position: relative;
    transition: flex 0.7s ease-in;

}   
.panel h3{
    font-size: 24ptx;
    position:absolute;
    bottom: 20pt;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
}
@media(max-width:480 px) {
    .container{
        width: 100vh;}
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display:none;
    }
    
}

 
  html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
